<div class="container">

  <div class="alert alert-danger" ng-if="page.error">{{page.error}}</div>

  <div class="card card-block">
    <h3 class="card-title">SQL</h3>
    <div class="card-text">
      <div class="alert alert-danger" ng-if="page.challenge.result.error">SQL Error: {{page.challenge.result.error}}</div>
      <pre sql-highlight="page.challenge.result.query"></pre>
    </div>
  </div>

  <div class="card card-block">
    <h3 class="card-title">Form</h3>
    <div class="card-text">
      <div challenge-form="page.challenge.form"
           ng-model="page.formValues" ng-model-options="{debounce: 500}"></div>
    </div>
  </div>

  <div class="card card-block">
    <h3 class="card-title">Results</h3>
    <div class="card-text">
      {{page.challenge.result.rows | json}}
    </div>
  </div>

</div>
