<div class="container" ng-class="{'success-page': page.challenge.success}">

  <div ng-show="page.error" class="alert alert-danger" >{{page.error}}</div>

  <div ng-show="page.challenge.success" class="alert alert-success">Successfully Solved!</div>

  <div class="card card-block">
    <h3 class="card-title">{{::page.challenge.id}}. {{::page.challenge.title}}</h3>
    <div class="card-text">{{::page.challenge.description}}</div>
  </div>

  <div class="card card-block" ng-repeat="(table, rows) in page.challenge.previewTables">
    <h3 class="card-title">Peek inside: <code>{{table}}</code> table</h3>
    <div class="card-text">
      <div results-table="rows"></div>
    </div>
  </div>

  <div class="card card-block">
    <h3 class="card-title">SQL</h3>
    <div class="card-text">
      <div class="alert alert-danger" ng-if="page.challenge.result.error">SQL Error: {{page.challenge.result.error}}</div>
      <pre sql-highlight="page.challenge.result.query"></pre>
    </div>
  </div>

  <div class="card card-block">
    <h3 class="card-title">Form</h3>
    <div class="card-text">
      <div challenge-form="page.challenge.form"
           challenge-rows="page.challenge.result.rows"
           ng-model="page.formValues" ng-model-options="{debounce: 500}"></div>
    </div>
  </div>

  <div class="card card-block" ng-hide="page.challenge.hideResult">
    <h3 class="card-title">Result</h3>
    <div class="card-text">
      <div results-table="page.challenge.result.rows"></div>
      <div ng-hide="page.challenge.result.rows.length > 0"
           class="alert alert-info">No rows selected</div>
    </div>
  </div>

</div>
